<div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 container-fluid d-flex justify-content-center">
	<div class="card" style="width: 18rem;">
		<div class="card-body">
			<img src="..." class="card-img-top" alt="...">
			<h5 class="card-title">Bonjour{{ app.user.username }}!</h5>
			<a href="Logout" class="button outline color9 mini logout">
				<span>Me déconnecter</span>
			</a>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Tableaux de bord</li>
			<li class="list-group-item">Mes informations</li>
			<li class="list-group-item">Mes commandes</li>
			<li class="list-group-item">Mes listes</li>
		</ul>
	</div>
</div>
