{#  #}
{% set route = app.request.attributes.get('_route') %}
{# recupère tout ce qu'il y a dans ? #}
{% set routeParams = app.request.query.all %}

{% for i in 1..paginator.lastPage %}
	<li class="page-item {% if i == paginator.currentPage %}active{% endif %}">
		<a class="page-link" href="{{ path(route, routeParams|merge({page: i})) }}">{{ i }}</a>
	</li>
{% endfor %}
