{% extends 'base.html.twig' %}

{% block title %}Reinitialisation du mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="formReset">
        <div class="text-center mb-4">
            <h1>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Reinitialisation du mot de passe</font>
                </font>
            </h1>
        </div>

        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div class="formResetSmall">
                <small>
                    Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                </small>
            </div>

            <button class="btn btn-primary">Reinitialiser mon mot de passe</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}