{% extends 'basebackoffice.html.twig' %}

{% block title %}New Categorie
{% endblock %}

{% block body %}
	<div class="new-article">
		<h1>Créer ue nouvelle catégorie</h1>

		{{ include('backoffice/categorie/_form.html.twig') }}

		<a href="{{ path('categorie_index') }}" class="btn btn-outline-primary new-categ-retourListe">Retour à la liste</a>

	</div>
{% endblock %}
