{% extends 'basebackoffice.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Créer ue nouvelle catégorie</h1>

    {{ include('backoffice/categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}"class="btn btn-outline-primary retourListe">Retour à la liste</a>
{% endblock %}
