{% extends 'basebackoffice.html.twig' %}

{% block title %}Edit CategorieSecondaire{% endblock %}

{% block body %}
    <h1>Edit CategorieSecondaire</h1>

    {{ include('backoffice/categorie_secondaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categorie_secondaire_index') }}" class="btn btn-outline-primary">Retour à la liste</a>

    {{ include('backoffice/categorie_secondaire/_delete_form.html.twig') }}
{% endblock %}
