html, body{
    font-family: "Nunito",-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    margin: 0;
}

h1{
    margin-top: 1rem;
}

.h2back{
    margin: 3rem 0 4rem 1rem;
}

/* icone */
.fa{
    margin-right: 0.5em;
}

.fa-home{
    padding: 8px;
    border-radius: 100%;
    background: linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1));
}

.fa-home, .fa-bookmark-o, .fa-line-chart, .fa-users{
    color: white;
}

.fa-line-chart, .fa-bookmark-o, .fa-users{
    margin-left: 2em;
}

/* bouton */

.newAge, .newArticle, .newCategorie, .newCategoriePrinc, .newCategorieSec, .newGenre, .newMarque, .newSlider, .newTva, .newUser{
    position: absolute;
    right: 4rem;
    top: 6rem;
}

.newArticle2{
    position: absolute;
    right: 18rem;
    top: 6rem;
    color: white;
    border: white;
    background: linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1));
}

.newArticleAdmin{
    margin-right: 1em;
    margin-bottom: 3em;
}

.pull-right{
    position: absolute;
    margin-left: 10px;
}

.article-form-danger{
    margin-left: 10em;
    top: 100.9%;
    position: absolute;
}

.marque-form-danger{
    position: absolute;
    top: 48%;
    left: 36%;
}

.show-marque-danger{
    position: absolute;
    top: 82%;
    left: 18%;
}

#edit-marque-danger{
    position: absolute;
    top: 48.4%;
    left: 36%;
}

.article-retour-list{
    margin-left: 32em;
    top: 100.9%;
    position: absolute;
}

.new-retourListe{
    margin-left: 78%;
    top: 23%;
    position: absolute;
}

.new-form-success{
    margin-left: 64.3%;
    top: 32%;
    position: absolute;
}

.admin{
    margin-top: 0;
    margin-left: 1rem;
}

.formEdit{
    margin-top: 2em !important;
    margin-bottom: 1em;
}

.edit-retourListe{
    position: absolute;
    top: 48%;
    left: 25%;
}

.tva-retourListe{
    position: absolute;
    top: 49%;
    left: 25%;
}

.tva-form-success{
    margin-top: 2.3em;
}

.tva-form-danger{
    position: absolute;
    top: 52%;
    left: 17%;
}

#edit-tva-danger{
    position: absolute;
    top: 49%;
    left: 37%;
}

.show-tva-danger{
    position: absolute;
    top: 52%;
    left: 18%;
}

.new-age-retourListe{
    margin-left: 24%;
    top: 39%;
    position: absolute;
}

.show-age-danger{
    position: absolute;
    top: 46.4%;
    left: 17%;
}

#edit-age-danger{
    position: absolute;
    top: 39%;
    left: 25%;
}

.age-retourListe{
    position: absolute;
    top: 39%;
    left: 35%;
}

.new-genre-retourListe{
    margin-left: 22%;
    top: 44%;
    position: absolute;
}

.show-genre-danger{
    position: absolute;
    top: 47%;
    left: 17%;
}

.edit-retourListe{
    position: absolute;
    top: 43.5%;
    left: 24%;
}

#edit-danger{
    position: absolute;
    top: 43.6%;
    left: 35%;
}

#edit-categorie-danger{
    position: absolute;
    top: 62%;
    left: 35%;
}

.show-categorie-danger{
    position: absolute;
    top: 51.7%;
    left: 17%;
}

.edit-categ-retourListe{
    position: absolute;
    top: 62%;
    left: 24%;
}

.new-categ-retourListe{
    margin-left: 25%;
    top: 62%;
    position: absolute;
}

.dashboardContent .newArticle{
    color: white;
    border: white;
    background: linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1));
}


/* Grille boot */
.row{
    max-width: 100% !important;
}

/* nav */
.navbar-default
{
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-default li
{
    margin-right: 20px;
}

.navbar-nav{
    margin-left: 50%;
}

.navbar h1
{
    font-size: 2rem;
}

.navbar li a
{
    font-size: 1em;
}

.navbar ul li a font:hover{
    color: #3399f3;
}

.navbar ul li a{
    margin-right: 20px;
}

.btn {
    border-radius: 1rem;
    transition: color 0.3s;
}

.btn btn-info:hover{
    color: #d8554d;
}

/* nav princ */
.container{
    max-width: 100%;
    padding: 0;
}

.nav{
    width: 13%;
    padding-top: 3em;
    padding-left: 14px;
    min-height: 100vh;
}

.nav, .dropdown ul{
    background: #eee !important;
}

.nav li a{
    color: rgba(0, 0, 0, .55);
    list-style-type: none;
}

.nav li a:hover{
    color: #3399f3;
}

/* tableau */
.table{
    margin-top: 2rem;
}

.table-article, .show-article{
    width: 95%;
    margin-top: 4em;
    margin-left: 2em;
}

tbody td{
    vertical-align: middle !important;
}

caption {
    caption-side: top;
    margin-bottom: 10px;
}

tbody tr:hover{
    background-color: floralwhite !important;
}

.agree{
    color: green;
}

.false{
    color: red;
}

.tdBackoffice img{
    width: 100%;
    height: auto;
    max-height: 5em;
    object-fit: contain;
}

.tdBackoffice{
    width: 15%;
}

.message table{
    width: 97%;
    margin-left: 1em;
}

/* formulaire */
form{
    margin-left: 13em;
    margin-top: 3em;
}

.article-title, .extrait-title, .detail-title, .contenu-title{
    width: 25%;
}

.article-title{
    margin-top: 1em;
    margin-bottom: 2em !important;
    margin-left: 1em;
}

.extrait-title, .prix-title{
    margin-bottom: 2em !important;
}

.detail-title, .contenu-title{
    vertical-align: text-top;
    margin-bottom: 2em !important;
}

.contenu-title{
    height: 200px;
}

#article_image{
    position: absolute;
    top: 14.5em;
    left: 50%;
}

.new-checkbox{
    position: absolute;
    top: 9em;
    left: 51%;
}

.new-checkbox-label{
    position: absolute;
    top: 9em;
    left: 45%;
}

.selection-checkbox{
    position: absolute;
    top: 10em;
    left: 51%;
}

.selection-checkbox-label{
    position: absolute;
    top: 10em;
    left: 45%;
}

.select-categorie{
    position: absolute;
    top: 24em;
    left: 56%;
}

.select-label-categorie{
    position: absolute;
    top: 24em;
    left: 50%;
}

.select-marque{
    position: absolute;
    top: 27em;
    left: 56%;
}

.select-label-marque{
    position: absolute;
    top: 27em;
    left: 50%;
}

.select-tva{
    position: absolute;
    top: 30em;
    left: 56%;
}

.select-label-tva{
    position: absolute;
    top: 30em;
    left: 50%;
}

.select-genre{
    position: absolute;
    top: 33em;
    left: 56%;
}

.select-label-genre{
    position: absolute;
    top: 33em;
    left: 50%;
}

.select-age{
    position: absolute;
    top: 36em;
    left: 56%;
}

.select-label-age{
    position: absolute;
    top: 36em;
    left: 50%;
}

#age_code{
    margin-left: 1em;
}

#marque_titre, #marque_image, #marque_slug, #tva_valeurTVA, #tva_slug, #tva_code, #genre_code,
#genre_slug, #categorie_code, #categorie_description, #categorie_secondaire
{
    margin-left: 1em;
}

/* Page article */
.show-article, .edit-article, .new-article{
    width: 95%;
    margin-top: 4em;
    margin-left: 2em;
}


/* dashboard */
.dashboard .fa{
    margin-left: 1em;
}

.dashboard{
    background: antiquewhite;
}

.dashboard h4{
    font-size: 1.13rem;
    top: 11%;
    margin-bottom: 1em;
    margin-left: 2em;
}

.dashboard h2{
    font-size: 1.8rem;
    margin-bottom: 1em;
    margin-left: 2em;
}

.dashboard h5{
    font-size: 0.9rem;
    margin-left: 2em;
}

.dashboardContent h3{
    margin-top: 3em;
    margin-left: 2em;
    margin-bottom: 2em;
}

.card-img-absolute{
    position: absolute;
    height: 100%;
    left: 58%;
    top: 0;
}

.textWhite{
    color: white;
}

/* StatsContent */
.statsContent{
    margin-top: 8em !important;
}

.weeklySales, .weeklyOrders, .visitorsOnline{
    width: 32%;
    height: 32%;
    padding-top: 2em;
    padding-bottom: 3em;
    border-radius: 9px;
    margin-right: 16px;
    left: 3em;
}

.weeklySales{
    background: linear-gradient(to right, #ffbf96, #fe7096);
}

.weeklyOrders{
    background: linear-gradient(to right, #90caf9, #047edf 99%) !important;
}

.visitorsOnline{
    background: linear-gradient(to right, #84d9d2, #07cdae) !important;
}

.weeklySales .fa{
    margin-left: 4em;
}

.weeklyOrders .fa{
    margin-left: 2em;
}

.visitorsOnline .fa{
    margin-left: 7em;
}

/* charsContent */
.chars{
    margin-right: 3em;
    height: 100%;
    border-radius: 9px;
}

.charsContent{
    margin-top: 5em;
    margin-left: 3em;
    height: 430px;
    width: 100%;
}

.chars h4, .traffic h4{
    margin-top: 5%;
}

.chars-img-absolute{
    position: absolute;
    margin-left: 10px;
    top: 5em;
    height: 79%;
    width: 93%;
}

.chars ul{
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 3em;
    left: 24em;
}

.chars li{
    margin-right: 1em;
}

.visits{
    background: linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1));
}

.sales{
    background: linear-gradient(to right, rgba(255, 191, 150, 1), rgba(254, 112, 150, 1));
}

.abandonment{
    background: linear-gradient(to right, rgba(218, 140, 255, 1), rgba(154, 85, 255, 1));
}

/* Traffic */
.traffic{
    border-radius: 9px;
    height: 100%;
}

.traffic-img-absolute{
   margin-top: 1em;
   height: 48%;
}

.trafficLegend{
    margin-top: 3em;
    margin-left: 1em;
}

.trafficLegend li{
    list-style-type: none;
}

.roundedSpan{
    width: 1em;
    height: 1em;
    border-radius: 100%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 0.5em;
}

.search{
    background: linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1));
}

.direct{
    background: linear-gradient(to right, rgba(6, 185, 157, 1), rgba(132, 217, 210, 1));
}

.bookmarks{
    background: linear-gradient(to right, rgba(255, 191, 150, 1), rgba(254, 112, 150, 1));
}

.percentSearch{
    margin-left: 14%;
}

.percentDirect{
    margin-left: 40%;
}

.percentBookmarks{
    margin-left: 46%;
}

/* Message */
.message{
    width: 96%;
    border-radius: 9px;
    margin-top: 3em;
    margin-bottom: 5em;
    margin-left: 2em;
    padding-bottom: 4%;
}

.message h4{
    padding-top: 2%;
}

.chars, .traffic, .message{
    background: white;
}


.deco{
    margin-left: 2em;
}

/* pc */
@media only screen and (max-width: 1199.98px){
    .card-img-absolute {
        left: 39%;
    }
}

@media only screen and (max-width: 1930px){
    .card-img-absolute {
        left: 67%;
    }

    .notification .badge{
        position: absolute;
        top: -2px;
        right: 17px;
        padding: 5px 8px;
        border-radius: 50%;
        background: red;
        color: white;
    }

    .notificationSale .badge-success{
        position: absolute;
        top: 6px;
        right: 41.5em;
        padding: 5px 8px;
        border-radius: 50%;
    }
}