html, body{
    font-family: "Nunito",-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    margin: 0;
}

h1{
    margin-top: 1rem;
}

.h2back{
    margin: 3rem 0 4rem 1rem;
}

/* icone */
.fa{
    margin-right: 0.5em;
}

.fa-line-chart, .fa-bookmark-o, .fa-users{
    margin-left: 2em;
}

/* bouton */

.newAge, .newArticle, .newCategorie, .newCategoriePrinc, .newCategorieSec, .newGenre, .newMarque, .newSlider, .newTva, .newUser{
    position: absolute;
    right: 4rem;
    top: 6rem;
}

.newArticleAdmin{
    margin-right: 1em;
    margin-bottom: 3em;
}

.pull-right{
    position: absolute;
    margin-left: 10px;
}

.btn-outline-danger{
    margin-top: 1rem;
}

.retourListe{
    margin-right: 1rem;
}

.admin{
    margin-top: 0;
    margin-left: 1rem;
}

.formEdit{
    margin-top: 1em;
    margin-bottom: 1em;
}

/* nav */
.navbar-default
{
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-default li
{
    margin-right: 20px;
}

.navbar-nav{
    margin-left: 50%;
}

.navbar h1
{
    font-size: 2rem;
}

.navbar li a
{
    font-size: 1em;
}

.navbar ul li a font:hover{
    color: #3399f3;
}

.navbar ul li a{
    margin-right: 20px;
}

.btn {
    border-radius: 1rem;
    transition: color 0.3s;
}

.btn btn-info:hover{
    color: #d8554d;
}

/* nav princ */
.nav_bar{
    width: 16%;
    height: 100%;
    text-align: justify;
    position: absolute;
    top: 0;
    left: 0;
}

.nav_bar ul li{
    list-style-type: none;
}

.nav_bar ul li, .nav_bar ul li a {
    color: #0000008c;
    font-size: 0.95em;
}

.nav_bar ul li a:hover{
    color: #3399f3;
}

.container{
    padding: 0;
    margin: 0;
}

.nav_bar .categorie ul, .page404 ul{
    display: none;
}

.nav_bar .categorie:hover ul, .page404:hover ul{
    display: block;
}

/* tableau */
.table{
    margin-top: 2rem;
}

tbody td{
    vertical-align: middle !important;
}

caption {
    caption-side: top;
    margin-bottom: 10px;
}

tbody tr:hover{
    background-color: floralwhite !important;
}

.agree{
    color: green;
}

.false{
    color: red;
}

.tdBackoffice img{
    width: 100%;
    height: auto;
    max-height: 5em;
    object-fit: contain;
}

.tdBackoffice{
    width: 15%;
}

/* dashboard */
.dashboard{
    position: relative;
    align-items: center;
    width: 100%;
}

.dashboard .fa{
    margin-left: 1em;
}

.card-img-absolute{
    position: absolute;
    height: 100%;
    left: 11em;
    top: 0;
}

.textWhite{
    color: white;
}

.statsContent{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 550px;
}

.dashboardContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 45px;
    margin-left: 13em;
    height: 550px;
}

.weeklySales, .weeklyOrders, .visitorsOnline{
    width: 32%;
    height: 32%;
    position: relative;
    display: inline-block;
    padding-top: 2em;
    padding-left: 2em;
    border-radius: 9px;
    margin-right: 11px;
    left: 3em;
}

.weeklySales{
    background: linear-gradient(to right, #ffbf96, #fe7096);
}

.weeklyOrders{
    background: linear-gradient(to right, #90caf9, #047edf 99%) !important;
}

.visitorsOnline{
    background: linear-gradient(to right, #84d9d2, #07cdae) !important;
}


.weeklyOrders .fa{
    margin-left: 7em;
}

.visitorsOnline .fa{
    margin-left: 7em;
}

.title h3{
    position: absolute;
    top: 6%;
    left: 20%;
}

.title a{
    top: 4em;
}

.dashboard h4{
    font-size: 1.13rem;
    top: 11%;
    margin-bottom: 1em;
}

.dashboard h2{
    font-size: 1.8rem;
    margin-bottom: 1em;
}

.dashboard h5{
    font-size: 0.9rem;
}

.chars{
    background-color: chartreuse;
    position: absolute;
}
