html, body{
    font-family: "Nunito",-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    height: 100%;
    margin: 0;
}

h1{
    margin-top: 1rem;
}

.h2back{
    margin: 3rem 0 4rem 1rem;
}

/* bouton */

.newAge, .newCategorie, .newCategoriePrinc, .newCategorieSec, .newGenre, .newMarque, .newSlider, .newTva, .newUser{
    position: absolute;
    right: 4rem;
    top: 6rem;
}

.pull-right{
    position: absolute;
    margin-left: 10px;
}

.btn-outline-danger{
    margin-top: 1rem;
}

.retourListe{
    margin-right: 1rem;
}

.admin{
    margin-top: 0;
    margin-left: 1rem;
}

/* transition bouton */
/* .btn{
    position: relative;
    border:1px solid #0D6EFD ;
    overflow: hidden;
    transition: all 0.3s;
}
.btn-rounded-primary::before{
    content:"";
    position: absolute;
    background-color: #0D6EFD;
    height: 100%;
    top: 0;
    left: 0;
    width: 0;
    z-index: -1;
    transition: all 1s;
}

.btn-rounded-primary::before{
    color:white
}

.btn-rounded-primary:hover::before{
    width: 100%;
    color: white;
}

.btn-rounded-primary:hover{
    color: white;
    transition: all 1s;
} */

/* nav */
.navbar-default
{
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.navbar-default li
{
    margin-right: 20px;
}

.navbar h1
{
    font-size: 2rem;
}

.navbar li a
{
    font-size: 1.1rem;
}

.navbar ul li a font:hover{
    color: #3399f3;
}

.navbar ul li a{
    margin-right: 20px;
}

.btn {
    border-radius: 1rem;
    transition: color 0.3s;
}

.btn btn-info:hover{
    color: #d8554d;
}

/* modal signaler & supprimer */

.modal-dialog.modal-notify.modal-danger .modal-header {
    background-color: #ff4b4b;
}

.modal-dialog.modal-notify .modal-header {
    border: 0;
}
.modal-dialog.modal-notify .modal-header {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}
.modal-dialog .modal-content .modal-header {
    border-top-left-radius: .125rem;
    border-top-right-radius: .125rem;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
}

.modal-dialog.modal-notify .heading {
    margin: 0;
    padding: .3rem;
    color: #fff;
    font-size: 1.15rem;
}

.modal-dialog.modal-notify .close {
    opacity: 1;
    color: #fff;
}

.modal-content .close {
    position: absolute;
    right: 15px;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-dialog.modal-notify .modal-body {
    padding: 1.5rem;
    color: #ff4b4b;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
/* fin modal */

/* tableau */
.table{
    margin-top: 2rem;
}

tbody td{
    vertical-align: middle !important;
}

caption {
    caption-side: top;
    margin-bottom: 10px;
}

tbody tr:hover{
    background-color: floralwhite !important;
}

.agree{
    color: green;
}

.false{
    color: red;
}