{% extends 'basebackoffice.html.twig' %}

{% block title %}Edit CategoriePrincipal
{% endblock %}

{% block body %}
	<div class="edit-article">
		<h1>Edit CategoriePrincipal</h1>

		{{ include('backoffice/categorie_principal/_form.html.twig', {'button_label': 'Mise a jour'}) }}

		<a href="{{ path('categorie_principal_index') }}" class="btn btn-outline-primary retourListe">Retour à la liste</a>

		{{ include('backoffice/categorie_principal/_delete_form.html.twig') }}

	</div>
{% endblock %}
