{% extends 'base.html.twig' %}

{% block title %}Accés interdit
{% endblock %}

{% block body %}

	<div class="errorImg">
		<img src="{{ asset ('images/errorImg/robot403.jpg') | imagine_filter('slider') }}" class="img-fluid" alt="...">
	</div>


{% endblock %}

{# 1 intro presentation/pourquoi apli
Tour du site
le tout en 12 min

2 powerPoint partie technique
bdd
symf twig
front, 

montrer structure symf + explication
controler ect


explique js, validation, pagination et montrer #}
