{% extends 'base.html.twig' %}

{% block title %}Liste
{% endblock %}
{# {% block title %}{{ menucateg.description }}{% endblock %} #}

{% block body %}
	<!-- notification message d'erreurs -->
	{% for message in app.flashes('error') %}
		<h5 class="alert alert-danger">
			{{ message }}
		</h5>
	{% endfor %}
	{% for message in app.flashes('success') %}
		<h5 class="alert alert-success">
			{{ message }}
		</h5>
	{% endfor %}

	<div class="form">
		<div class="row">
			<div class="col-md-3 formSearch">
				{% if form is defined %}
				<h4 class="filtre">Filtre</h4>
					{{ form(form) }}
				{% endif %}
			</div>

			<div class="col-md-9">
				<div class="homeHeader">
					<h4>Listes des articles</h4>
				</div>
				<section class="allArticles">
					{% if paginator.count != 0 %}
						<div class="row row-cols-xs-1 row-cols-md-3 row-cols-lg-5 container-fluid d-flex justify-content-center">
							{% for article in paginator.datas %}
								{% include "partials/_cartearticle.html.twig"%}
							{% endfor %}
						</div>
						{% include 'partials/_paginate.html.twig' %}
						{% else %}
							<h2>Aucun articles n'a été trouvé.</h2>
					{% endif %}
				</section>
			</div>
		</div>
	</div>


{% endblock %}
