{% extends 'basebackoffice.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <h1>Créer un nouvel article</h1>

    {{ include('backoffice/article/_form.html.twig') }}

    <a href="{{ path('article_index') }}" class="btn btn-outline-primary retourListe">Retour à la liste</a>
{% endblock %}
