{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block body %}

	<!-- notification message d'erreurs -->
	{% for message in app.flashes('error') %}
		<h5 class="alert alert-danger">
			{{ message }}
		</h5>
	{% endfor %}
	{% for message in app.flashes('success') %}
		<h5 class="alert alert-success">
			{{ message }}
		</h5>
	{% endfor %}

	{% include 'partials/_infoscompte.html.twig' %}

	<a href="{{ path('utilisateur_modifier') }}" class="btn btn-primary">Modifier votre profil</a>
	<a href="{{ path('utilisateur_motdepasse') }}" class="btn btn-primary">Modifier votre mot de passe</a>

	<div class="dashboard">
		<section class="info">
			<h1>Ma dernière commande</h1>
			<div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 container-fluid d-flex justify-content-center">
				<div class="col mb-3">
					<div class="card text-center h-100">
						<div class="card-body">
							<h5 class="card-title">Commande N°</h5>
							<img src="" class="card-img-top" alt="...">
						</div>
						<div class="card-footer">
							<a href="#" class="transparent3-btn">Mes commandes</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="liste">
			<h1>Mes listes</h1>
			<div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 container-fluid d-flex justify-content-center">
				<div class="col mb-3">
					<div class="card text-center h-100">
						<a href="#">
							<div class="card-body">
								<h5 class="card-title">Commande N°</h5>
								<img src="" class="card-img-top" alt="...">
							</div>
						</div>
					</a>
				</div>
			</div>
			<div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 container-fluid d-flex justify-content-center">
				<div class="col mb-3">
					<div class="card text-center h-100">
						<a href="#">
							<div class="card-body">
								<i class="icon icon_i_211_plus f-wishlist-newIcon"></i>
                                <p>Créer une nouvelle liste</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}
